.button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  border: initial;
  background: initial;
}

.icon {
  display: block;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.edit {
  position: relative;
  right: 30px;
  display: block;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.fav {
  position: relative;
  right: 60px;
  display: block;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  top: 4px;
}